name: CI

on: [push, pull_request]

jobs:
  linux-x86:
    name: Linux (x86)
    runs-on: ubuntu-24.04

    # Don't run on both pushes and pull requests
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install dependencies
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update -y
          sudo apt-get install -y \
              mandoc \
              gcc-multilib \
              libgcc-s1:i386 \
              acl \
              libacl1-dev \
              libacl1:i386 \
              attr \
              libcap2-bin \
              libcap-dev \
              libcap2:i386 \
              libonig-dev \
              libonig5:i386 \
              liburing-dev
          # Ubuntu doesn't let you install the -dev packages for both amd64 and
          # i386 at once, so we make our own symlinks to fix -m32 -lacl -l...
          sudo ln -s libacl.so.1 /lib/i386-linux-gnu/libacl.so
          sudo ln -s libcap.so.2 /lib/i386-linux-gnu/libcap.so
          sudo ln -s libonig.so.5 /lib/i386-linux-gnu/libonig.so

      - name: Run tests
        run: |
          .github/diag.sh make -j$(nproc) distcheck

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: linux-x86-config.log
          path: distcheck-*/gen/config.log

  linux-arm:
    name: Linux (Arm64)
    runs-on: ubuntu-24.04-arm

    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y \
              mandoc \
              acl \
              libacl1-dev \
              attr \
              libcap2-bin \
              libcap-dev \
              libonig-dev \
              liburing-dev

      - name: Run tests
        run: |
          .github/diag.sh make -j$(nproc) distcheck

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: linux-arm-config.log
          path: distcheck-*/gen/config.log

  macos:
    name: macOS
    runs-on: macos-15

    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install dependencies
        run: |
          brew install bash

      - name: Run tests
        run: |
          jobs=$(sysctl -n hw.ncpu)
          .github/diag.sh make -j$jobs distcheck

  freebsd:
    name: FreeBSD
    runs-on: ubuntu-24.04

    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run tests
        uses: cross-platform-actions/action@e8a7b572196ff79ded1979dc2bb9ee67d1ddb252 # v0.29.0
        with:
          operating_system: freebsd
          version: "14.2"

          run: |
            sudo pkg install -y \
                bash \
                oniguruma \
                pkgconf
            sudo mount -t fdescfs none /dev/fd
            .github/diag.sh make -j$(nproc) distcheck

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: freebsd-config.log
          path: distcheck-*/gen/config.log

  openbsd:
    name: OpenBSD
    runs-on: ubuntu-24.04

    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run tests
        uses: cross-platform-actions/action@e8a7b572196ff79ded1979dc2bb9ee67d1ddb252 # v0.29.0
        with:
          operating_system: openbsd
          version: "7.7"

          run: |
            sudo pkg_add \
                bash \
                gmake \
                oniguruma
            jobs=$(sysctl -n hw.ncpu)
            ./configure MAKE=gmake
            .github/diag.sh gmake -j$jobs check TEST_FLAGS="--sudo --verbose=skipped"

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: openbsd-config.log
          path: gen/config.log

  netbsd:
    name: NetBSD
    runs-on: ubuntu-24.04

    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run tests
        uses: cross-platform-actions/action@e8a7b572196ff79ded1979dc2bb9ee67d1ddb252 # v0.29.0
        with:
          operating_system: netbsd
          version: "10.1"

          run: |
            PATH="/sbin:/usr/sbin:$PATH"
            sudo pkgin -y install \
                bash \
                oniguruma \
                pkgconf
            jobs=$(sysctl -n hw.ncpu)
            ./configure
            .github/diag.sh make -j$jobs check TEST_FLAGS="--sudo --verbose=skipped"

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: netbsd-config.log
          path: gen/config.log

  dragonflybsd:
    name: DragonFly BSD
    runs-on: ubuntu-24.04

    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run tests
        uses: vmactions/dragonflybsd-vm@75bd44920d245dc0c6a39b7ed5df35137f80c629 # v1.1.2
        with:
          release: "6.4.0"
          usesh: true

          prepare: |
            pkg install -y \
                bash \
                llvm18 \
                oniguruma \
                pkgconf \
                sudo
            pw useradd -n action -m -G wheel -s /usr/local/bin/bash
            echo "%wheel ALL=(ALL) NOPASSWD: ALL" >>/usr/local/etc/sudoers

          run: |
            chown -R action:action .
            jobs=$(sysctl -n hw.ncpu)
            sudo -u action ./configure CC=clang18
            sudo -u action .github/diag.sh make -j$jobs check TEST_FLAGS="--sudo --verbose=skipped"

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dragonfly-config.log
          path: gen/config.log

  omnios:
    name: OmniOS
    runs-on: ubuntu-24.04

    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run tests
        uses: vmactions/omnios-vm@c31844c7abe722cd7c97df82cab1f1fab1e5339f # v1.1.1
        with:
          release: "r151052"
          usesh: true

          prepare: |
            pkg install \
                bash \
                build-essential \
                gnu-make \
                onig \
                sudo
            useradd -m -g staff action
            echo "%staff ALL=(ALL) NOPASSWD: ALL" >>/etc/sudoers

          run: |
            PATH="/usr/xpg4/bin:$PATH"
            chown -R action:staff .
            jobs=$(getconf NPROCESSORS_ONLN)
            sudo -u action ./configure MAKE=gmake
            sudo -u action .github/diag.sh gmake -j$jobs check TEST_FLAGS="--sudo --verbose=skipped"

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: omnios-config.log
          path: gen/config.log
